.index-body {
    background: url("../images/light-background-small.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}​,

.img-card {
    background: rgba(0, 0, 0, 0.5);
    border: black solid 2px;
}

.box-links {
    color: lightgray;
}
.contact-body {
    background: url("../images/splash-background-small.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}​,
.myCard {
    width: 900px;
    background: lightgray;
}
.form-control {
    background: rgb(240, 237, 237);
}
.navbar-brand, .card-title, h2 {
    font-family: 'Lobster', cursive;
}
p, a {
    font-family: 'Barlow Condensed', sans-serif; 
}
footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: lightgray;
    padding: 20px;
}
.footer-links {
    color: lightgray;
}
.myButton {
    color: lightgray;
}
.myLink {
    color: lightgray;
}
.portfolio-body {
    background: url("../images/specs-background-small.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grecapthca-badge {
    display: none;
}
