<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" href="./index.html"><h1>Cera Smart</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="./index.html">About</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="./porfolio.html">Portfolio</a>
                    </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./contact.html">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    <main class="container">
        <div class="row">
            <div class="card myCard m-3 p-2">
                <div class="card-body">
                    <h2>Connect With Me</h2>
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Name</label>
                            <input type="text" class="form-control" id="user-name" placeholder="Name">
                            </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="text" class="form-control" id="user-email" placeholder="name@example.com">
                            </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea class="form-control" id="user-message" rows="3"></textarea>
                            </div>
                        <a href="#" id="my-button" class="btn bg-dark myButton">Submit</a>
                        </form>
                    </div>
                </div>
            </div>
        </main>        
    <footer class="bg-dark fixed-bottom">
        <h4>Cera Smart</h4>
            <a class="footer-links" href="https://www.linkedin.com/in/cera-smart-548858180/">Join me on LinkedIn</a>
            <a class="footer-links" href="https://docs.google.com/document/d/1ufLaatN5NCdQeePE8IUNeJjCcvdG4PLlnSAjCPC6Bs0/edit?usp=sharing">Check out my Resume</a>
        </footer>  
</body>
</html>