<body class="index-body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" href="/"><h1>Cera Smart</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    <main class="container">
        <div class="card mb-3 m-3 mx-auto" style="max-width: 900px; background-color: lightgray;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/Profile.png" class="card-img" alt="Cera Smart">
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                            <p class="card-text">Hello! I went to college when I was a measly 16 years old and I have yet to figure out what I want to be. I graduated with a bachelors degree in biology. Then I spent three years working as a Medical Technologist for Labcorp. While the medical life wasn't for me I did develop a passion for technology working with all of the advanced machinery. Next I moved on to an Account Manager position at Kansas City marketing. While I loved building a team, training, and talking to people sales was not for me. Now I find my self as a Customer Services Representative for Valutrust Solutions. This is an appriasal management company with a lot of big finanacial clients like J.G Wentworth. While it has been interesting learning about the financial and real estate world, I miss working with technology. This is why I can't wait to learn more about programming and computers. Typically my creative outlet comes through painting. I love doing acrylic artwrok but designing webpages will be a whole new type of joy. This is becoming my new passion and I cannot wait to show off what I can now create. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <footer class="bg-dark fixed-bottom">
        <h4>Cera Smart</h4>
       <a class="footer-links" href="https://www.linkedin.com/in/cera-smart-548858180/">Join me on LinkedIn</a>
       <a class="footer-links" href="https://docs.google.com/document/d/1ufLaatN5NCdQeePE8IUNeJjCcvdG4PLlnSAjCPC6Bs0/edit?usp=sharing">Check out my Resume</a>
    </footer>
</body>
</html>