<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" href="./index.html"><h1>Cera Smart</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="./index.html">About <span class="sr-only">(current)</span></a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="./porfolio.html">Portfolio</a>
                    </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    <main class="container">
        <div class="card mb-3 m-3" style="max-width: 900px; background-color: lightgray;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="./assets/images/Profile.png" class="card-img" alt="Cera Smart">
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                            <p class="card-text">Hello! I went to college when I was a measly 16 years old and I have yet to figure out what I want to be. I graduated with a bachelors degree in biology. Then I spent three years working as a Medical Technologist for Labcorp. While the medical life wasn't for me I did develop a passion for technology working with all of the advanced machinery. Next I moved on to an Account Manager position at Kansas City marketing. While I loved building a team, training, and talking to people sales was not for me. Now I find my self as a Customer Services Representative for Valutrust Solutions. This is an appriasal management company with a lot of big finanacial clients like J.G Wentworth. While it has been interesting learning about the financial and real estate world, I miss working with technology. This is why I can't wait to learn more about programming and computers. Typically my creative outlet comes through painting. I love doing acrylic artwrok but designing webpages will be a whole new type of joy. This is becoming my new passion and I cannot wait to show off what I can now create. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="bd-example m-3" style="max-width: 900px;">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/images/Characters.jpg" class="d-block w-100" style="height:500px;" alt="Borderlands" >
                            <div class="carousel-caption d-none d-md-block">
                                <div class="card-body img-card">
                                    <h5 class="card-title">Borderlands Word Guess Game</h5>
                                        <p class="card-text">Type in letters to guess the correct word until you run out of guesses. Can you win?</p>
                                            <a class="card-text box-links" href="https://cmsmart2.github.io/Word_Guess_Game_Javascript/">Go to Game</a>
                                            <br>
                                            <a class="card-text box-links" href="https://github.com/cmsmart2/Word_Guess_Game_Javascript">Go to Github page</a>
                                    </div>
                                </div>
                        </div>
                    <div class="carousel-item">
                        <img src="./assets/images/chai-latte-cupcakes.jpg" class="d-block w-100" style="height:500px;" alt="Cupcake">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="card-body img-card">
                                    <h5 class="card-title">Cupcake Party</h5>
                                        <p class="card-text">This game will test your math skills! You have to bring the correct amount over cupcakes to the party. Good Luck!</p>
                                            <a class="card-text box-links" href="https://cmsmart2.github.io/unit-4-game/">Pick out cupcakes</a>
                                            <br>
                                            <a class="card-text box-links" href="https://github.com/cmsmart2/unit-4-game">Go to Github page</a>
                                    </div>
                                </div>
                        </div>    
                    <div class="carousel-item">
                        <img src="./assets/images/plants.jpg" class="d-block w-100" style="height:500px;" alt="Botany Trivia">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="card-body img-card">
                                    <h5 class="card-title">Botany Trivia</h5>
                                        <p class="card-text">Time to test your botany knowledge. I'm sure you're a pro!</p>
                                            <a class="card-text box-links" href="https://cmsmart2.github.io/TriviaGame/">Trivia Time</a>
                                            <br>
                                            <a class="card-text box-links" href="https://github.com/cmsmart2/TriviaGame">Go to Github page</a>
                                    </div>
                                </div>
                        </div>
                    <div class="carousel-item">
                        <img src="./assets/images/train-photo.jpg" class="d-block w-100" style="height:500px;" alt="Botany Trivia">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="card-body img-card">
                                    <h5 class="card-title">Train Schedule</h5>
                                        <p class="card-text">Look up when the next train is arriving and feel free to add your own! This system will keep track of arrival times no matter the frequency.</p>
                                            <a class="card-text box-links" href="https://cmsmart2.github.io/TrainTime/">See the trains</a>
                                            <br>
                                            <a class="card-text box-links" href="https://github.com/cmsmart2/TrainTime">Go to Github page</a>
                                    </div>
                                </div>
                        </div>
                    <div class="carousel-item">
                        <img src="./assets/images/Parks_and_Recreation.webp" class="d-block w-100" style="height:500px;" alt="Botany Trivia">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="card-body img-card">
                                    <h5 class="card-title">Parks and Recreation Giphs</h5>
                                        <p class="card-text">You like Parks and Rec? Me too! Check out all these giphs and search for your own.</p>
                                            <a class="card-text box-links" href="https://cmsmart2.github.io/GIPHY_API/">Check out these GIPHS</a>
                                            <br>
                                            <a class="card-text box-links" href="https://github.com/cmsmart2/GIPHY_API">Go to Github page</a>
                                    </div>
                                </div>
                        </div>  
                    <div class="carousel-item">
                        <img src="./assets/images/Kitchen Sink.jpg" class="d-block w-100" style="height:500px;" alt="Botany Trivia">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="card-body img-card">
                                    <h5 class="card-title">Recipe and Nutrition Finder</h5>
                                        <p class="card-text">Want to find a recipe to make based off of what you have in the kitchen? Go for it! Feel free to check out the nutrition info of your ingredients while you're at it.</p>
                                            <a class="card-text box-links" href="https://cmsmart2.github.io/GroupProjectOne/">Go to Website</a>
                                            <br>
                                            <a class="card-text box-links" href="https://github.com/cmsmart2/GroupProjectOne">Go to Github page</a>
                                    </div>
                                </div>
                        </div>      
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>        
    </main>
    <footer class="bg-dark">
        <h4>Cera Smart</h4>
       <a class="footer-links" href="https://www.linkedin.com/in/cera-smart-548858180/">Join me on LinkedIn</a>
       <a class="footer-links" href="https://docs.google.com/document/d/1ufLaatN5NCdQeePE8IUNeJjCcvdG4PLlnSAjCPC6Bs0/edit?usp=sharing">Check out my Resume</a>
    </footer>
</body>
</html>