<body class="portfolio-body">
    {{!-- Google dataLayer tag --}}
    <script>dataLayer= [];</script>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" href="/"><h1>Cera Smart</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">About</a>
                    </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/portfolio">Portfolio<span class="sr-only">(current)</span></a>
                    </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
<main class="container">
    <div class="row mx-auto">
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/travel-balloon.jpg" class="card-img-top" alt="Group Away">
                <div class="card-body">
                    <h5 class="card-title">GroupAway</h5>
                        <p class="card-text">When you're ready to plan a trip away wiht your group.</p>
                        <a href="https://groupaway-3.herokuapp.com/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'groupAway'});">Click Here</a>
                    </div>
            </div> 
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/cupcakes.jpg" class="card-img-top" alt="Cupcake">
                <div class="card-body">
                  <h5 class="card-title">Cupcake Party</h5>
                    <p class="card-text">This game will test your math skills! You have to bring the correct amount over cupcakes to the party. Good Luck!</p>
                    <a href="https://cmsmart2.github.io/unit-4-game/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'cupcakeParty'});">Click Here</a>
                </div>
            </div> 
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/plants.jpg" class="card-img-top" alt="Plants">
                <div class="card-body">
                  <h5 class="card-title">Botany Trivia</h5>
                    <p class="card-text">Time to test your botany knowledge. I'm sure you're a pro!</p>
                    <a href="https://cmsmart2.github.io/TriviaGame/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'botanyTrivia'});">Click Here</a>
                </div>
            </div>   
        </div> 
    <div class="row mx-auto">
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/train-photo.jpg" class="card-img-top" alt="Train">
                <div class="card-body">
                  <h5 class="card-title">Train Schedule</h5>
                    <p class="card-text">Look up when the next train is arriving and feel free to add your own! This system will keep track of arrival times no matter the frequency.</p>
                    <a href="https://cmsmart2.github.io/TrainTime/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'trainSchedule'});">Click Here</a>
                </div>
            </div>
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/Parks_and_Recreation.webp" class="card-img-top" alt="Parks and Recreation">
                <div class="card-body">
                  <h5 class="card-title">Parks and Recreation Giphs</h5>
                    <p class="card-text">You like Parks and Rec? Me too! Check out all these giphs and search for your own.</p>
                    <a href="https://cmsmart2.github.io/GIPHY_API/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'parkRecGiphs'});">Click Here</a>
                </div>
            </div> 
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/Kitchen Sink.jpg" class="card-img-top" alt="Food">
                <div class="card-body">
                  <h5 class="card-title">Recipe and Nutrition Finder</h5>
                    <p class="card-text">Want to find a recipe to make based off of what you have in the kitchen? Go for it! Feel free to check out the nutrition info of your ingredients while you're at it.</p>
                    <a href="https://cmsmart2.github.io/GroupProjectOne/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'recipeFinder'});">Click Here</a>
                </div>
            </div>
        </div>
    <div class="row mx-auto">
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/bamazon_table.PNG" class="card-img-top" alt="Bamazon">
                <div class="card-body">
                  <h5 class="card-title">Bamazon</h5>
                    <p class="card-text">One stop shop using node and mySQL</p>
                    <a href="https://github.com/cmsmart2/Bamazon" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'bamazon'});">Click Here</a>
                </div>
            </div> 
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/friendFinder.jpg" class="card-img-top" alt="Friend Finder">
                <div class="card-body">
                  <h5 class="card-title">Friend Finder</h5>
                    <p class="card-text">Come find the friend you are most compatible with!</p>
                    <a href="https://friend-finder-class.herokuapp.com/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'friendFinder'});">Click Here</a>
                </div>
            </div>   
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/business-people.jpg" class="card-img-top" alt="Friend Finder">
                <div class="card-body">
                  <h5 class="card-title">Employee Directory</h5>
                    <p class="card-text">React app that allows you to search and filter by employee name.</p>
                    <a href="https://cmsmart2.github.io/EmployeeDirectory/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'employeeDirectory'});">Click Here</a>
                </div>
            </div> 
        </div>
    <div class="row mx-auto">
        <div class="card col-sm-10 col-md-5 col-lg-3 col-xl-3 m-2 myCard mx-auto" style="width: 18rem;">
            <img src="/images/Characters.jpg" class="card-img-top" alt="Borderlands">
                <div class="card-body">
                  <h5 class="card-title">Borderlands Word Guess Game</h5>
                    <p class="card-text">Type in letters to guess the correct word until you run out of guesses. Can you win?</p>
                    <a href="https://cmsmart2.github.io/Word_Guess_Game_Javascript/" class="btn bg-dark myLink" target="_blank" onClick="dataLayer.push({'portfolioCategory': 'borderlands'});">Click Here</a>
                </div>
            </div>
        </div>
</main>

<footer class="bg-dark">
    <h4>Cera Smart</h4>
       <a class="footer-links" href="https://www.linkedin.com/in/cera-smart-548858180/" target="_blank">Join me on LinkedIn</a>
       <a class="footer-links" href="https://drive.google.com/file/d/1x8fdM2_1pJQk9TqrVF_QwoIQ-l0YWuAP/view?usp=sharing" target="_blank">Check out my Resume</a>
       <a class="footer-links" href="https://github.com/cmsmart2" target="_blank">Look at my GitHub</a>
    </footer>
    
    
</body>